In [1]:
import pandas as pd

In [2]:
data_path = 'C:\\Users\\duyph\\Documents\\DAP2308R1\\data\\'
path_name = 'GDPlist.csv'
df = pd.read_csv(data_path + path_name, encoding = 'unicode_escape')
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [4]:
print("Data có {} dòng và {} cột". format(df.shape[0], df.shape[1]))

Data có 125 dòng và 3 cột

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB
None

In [6]:
df['Continent'].unique()

array(['Asia', 'Europe', 'Africa', 'South America', 'Oceania',
       'North America'], dtype=object)

In [13]:
count = df.groupby(['Continent'])['Country'].count().reset_index()
count

       Continent  Country
0         Africa       29
1           Asia       36
2         Europe       37
3  North America       11
4        Oceania        3
5  South America        9

In [18]:
total_gdp_by_continent = df.groupby(['Continent'])['GDP (millions of US$)'].sum().reset_index()

In [19]:
total_gdp_by_continent

       Continent  GDP (millions of US$)
0         Africa                1820811
1           Asia               24425891
2         Europe               19139380
3  North America               18238447
4        Oceania                1662727
5  South America                4141217

In [21]:
top_10_gdp_by_country = df.sort_values(['GDP (millions of US$)'], ascending = False)

In [22]:
top_10_gdp_by_country.head(10)

             Country      Continent  GDP (millions of US$)
118    United States  North America               15094025
23             China           Asia                7298147
60             Japan           Asia                5869471
44           Germany         Europe                3577031
41            France         Europe                2776324
15            Brazil  South America                2492908
117   United Kingdom         Europe                2417570
58             Italy         Europe                2198730
93            Russia           Asia                1850401
21            Canada  North America                1736869