In [1]:
import pandas as pd

In [4]:
data_path = 'C:\\Users\\duyph\\Documents\\DAP2308R1\\data\\'
path_name = 'GDPList.csv'
df = pd.read_csv(data_path + path_name, encoding= 'unicode_escape')

In [5]:
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [6]:
print("Data có {} dòng và {} cột". format(df.shape[0], df.shape[1]))

Data có 125 dòng và 3 cột

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB
None

In [8]:
df['Continent'].unique()

array(['Asia', 'Europe', 'Africa', 'South America', 'Oceania',
       'North America'], dtype=object)

In [2]:
data_path = 'C:\\Users\\duyph\\Documents\\DAP2308R1\\data\\'
path_name = 'OnlineRetail.csv'
df = pd.read_csv(data_path + path_name, encoding= 'unicode_escape')

In [10]:
count = df.groupby(['Continent'])['Country'].count().reset_index()
count

       Continent  Country
0         Africa       29
1           Asia       36
2         Europe       37
3  North America       11
4        Oceania        3
5  South America        9

In [15]:
df2 = df.rename(columns = {'Continent' : 'chau_luc', 'Country' : 'nuoc', 'GDP (millions of US$)' : 'GDP (trieu $)'})

In [16]:
df2.head()

           nuoc       chau_luc  GDP (trieu $)
0   Afghanistan           Asia          18181
1       Albania         Europe          12847
2       Algeria         Africa         190709
3        Angola         Africa         100948
4     Argentina  South America         447644